head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	//- META
	title= title
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel="icon" href="/favicon.ico")
	//- CSS
	//- link(rel='stylesheet', type='text/css', href='components/bootstrap/dist/css/bootstrap.min.css' shim-shadowdom)
	link(rel='stylesheet', type='text/css', href='css/main.css')
	link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
	//- POLYMER
	script(src='components/platform/platform.js')
	link(rel="import" href="components/polymer/polymer.html")