nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
  .container-fluid
    //Brand and toggle get grouped for better mobile display 
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
        img.logo(src='img/lowpass.jpg', alt='Low Pass')
    //Collect the nav links, forms, and other content for toggling 
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.glyphicon.glyphicon-info-sign(data-toggle='modal', data-target='#about')