:host {
  display: block;
  background: #fff;
  margin-bottom: 5px;
  padding: 10px;

  font-size: 80%;

  cursor: pointer;
}

:host[selected="true"] {
	color: hotpink;
}

.twProfilePic {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.tw-username {
	font-weight: bold;
	display: block;

	padding-top: 8px;
}

.tw-handle {
	font-size: 90%;
	margin-bottom: 10px;
}

.image-wrapper {
	max-height: 100px;
	padding: 0 0 5px 5px;
	overflow: hidden;
}

.image-wrapper img {
	max-width: 100%;
	border-radius: 4px;
}

/*meta data row*/
.meta-data {
	margin-top: 5px;
}

.meta-data span, .meta-data a {
	padding-right: 10px;

	color: #555;
}

.meta-data span.num {
	color: rgb(0, 183, 255);
}

.user-info {
	margin-right: 10px;
}

.tw-text {
	max-width: 100%;
	margin: 0 5px 0 0;
}

.tweetPic {
  max-width: 100%;
  max-height: 100%;
}