<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-tweet></lp-tweet>

@element lp-tweet
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-tweet
-->
<polymer-element name="lp-tweet" attributes="tweet">

  <template>

    <link rel="stylesheet" href="lp-tweet.css" />

    <div class="tw-content row" horizontal layout>
      <div class="user-info" flex>
        <img class='twProfilePic' src="{{tweet.user.profile_image_url}}" >
        <span class='tw-username'>{{tweet.user.name}}</span>
        <span class='tw-handle'>&#64;{{tweet.user.screen_name}} </span>
      </div>
      <p class="tw-text" flex two>{{tweet.text}}</p>
    </div>

    <div class="meta-data row" horizontal layout>
      <span class='tw-date'>{{tweet.created_at | formatTwitterDate}}</span>
      <span class='tw-rt'>RETWEETS <span class="num">{{tweet.retweet_count}}</span></span><br>
      <span class='tw-fav'>FAVOURITES <span class="num">{{tweet.favorite_count}}</span></span>
    </div>

    <paper-shadow z="1"></paper-shadow>


  </template>

  <script>

    Polymer('lp-tweet', {

      /**
       * Formats the date of a tweet for display
       * along with other meta data.
       * To be used as a filter, eg:
       * {{tweet.created_at | formatTwitterDate}}
       */
      formatTwitterDate: function(twitterDate) {
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var dateStamp = new Date(twitterDate);
        var dateStr = dateStamp.getDate() + " " + months[dateStamp.getMonth()] + " " + dateStamp.getFullYear();
        return dateStr;
      }

    });

  </script>

</polymer-element>
