:host {
  display: block;
  background: #fff;
  margin-bottom: 5px;
  padding: 10px;

  font-size: 80%;

  cursor: pointer;
}

:host[selected="true"] {
	color: hotpink;
}

.twProfilePic {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.tw-username {
	font-weight: bold;
	display: block;

	padding-top: 8px;
}

.tw-handle {
	font-size: 90%;
	margin-bottom: 10px;
}

.meta-data span {
	padding-right: 10px;

	color: #555;
}

.meta-data span.num {
	color: rgb(0, 183, 255);
}

.user-info {
	margin-right: 10px;
}

.tw-text {
	max-width: 100%;
	margin; 0
}

.tweetPic {
  max-width: 100%;
  max-height: 100%;
}


/*.tw-media {
	img {
		max-width: 100%;
	  max-height: 100%;
	}
}*/



/* tweets */
/*
.tweet {
	padding: 15px;
	margin-bottom: 20px;

	background: #fff;

	border-radius: 6px;

	.tw-profile {
		padding-right: 0;
		
		.twProfilePic {
			float: left;
		  width: 48px;
		  height: 48px;
		  border-radius: 5px;
		}
		.user {
			strong, span {
				margin-left: 10px;
			}
		}
	}
	//CONTENT
	.tw-text {
		p {
			max-width: 100%;
		}
		.tweetPic {
		  max-width: 100%;
		  max-height: 100%;
		  // max-width: 35%;

		  // float: right;
		}
	}
	.tw-media {
		img {
			max-width: 100%;
		  max-height: 100%;
		}
	}
}*/
