<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-header-panel/core-header-panel.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-icon-button/core-icon-button.html">

<link rel="import" href="../lp-refine-tools/lp-refine-tools.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-page-app mode="initial" series="{{timeSeries}}"></lp-page-app>

@element lp-page-app
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-page-app
-->
<polymer-element name="lp-page-app" attributes="mode series">

  <template>

    <link rel="stylesheet" href="lp-page-app.css" />

    <core-header-panel fit mode="standard">
      <div class="core-header">
      <core-toolbar>
        <core-icon-button icon="menu" on-tap="{{menuAction}}"></core-icon-button>
        <div class="brand" flex>Low Pass</div>
        <core-icon-button icon="more" on-tap="{{moreAction}}"></core-icon-button>
      </core-toolbar>
      </div>
      <div id="content" class="content" horizontal around-justified layout
        on-lp-review-initiated="{{reviewInitiated}}">
        <lp-tweet-list id="tweetList" hidden
          tweets="{{tweets}}">
        </lp-tweet-list>
        <lp-refine-tools
          size="{{(mode == 'initial') ? 'large' : 'small'}}"
          series="{{series}}"
          tweets="{{tweets}}">
        </lp-refine-tools>
      </div>
    </core-header-panel>

  </template>

  <script>

    Polymer('lp-page-app', {
      /**
       * Mode: initial -> main:
       */
      'mode' : 'initial',

      'btnLabel': 'Get Tweets',

      modeChanged: function() {
        if(this.mode === 'main') {
          console.log('main sequence');
        }
      },
      tweetsChanged: function() {
        //unhide tweetlist
        this.mode = 'main';
        this.$.tweetList.hidden = false;
      }
    });

  </script>

</polymer-element>
