<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../lp-tweet/lp-tweet.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-tweet-list tweets filter></lp-tweet-list>

@element lp-tweet-list
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-tweet-list
-->
<polymer-element name="lp-tweet-list" attributes="tweets filter">

  <template>

    <link rel="stylesheet" href="lp-tweet-list.css" />

    <template repeat="{{tweet in tweets}}">
      <lp-tweet tweet="{{tweet}}"></lp-tweet>
    </template>
    

  </template>

  <script>

    Polymer('lp-tweet-list', {
      /**
       * The `noevent` event is not actually fired from here,
       * we document it as an example of documenting events.
       *
       * @event noevent
       */

      /**
       * The `notitle` attribute does not yet have a purpose.
       *
       * @attribute notitle
       * @type string
       */
      notitle: '',

      /**
       * The `aProp` is a property that does something cool.
       *
       * @property aProp
       * @type bool
       */
      aProp: false,

      ready: function() {
      },

      /**
       * The `task` method does no work at this time.
       *
       * @method task
       * @return {Object} Returns undefined.
       * @param {String} dummy Serves no purpose today.
       */
      task: function(dummy) {
      }

    });

  </script>

</polymer-element>
