<link rel="import" href="../polymer/polymer.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-tweet></lp-tweet>

@element lp-tweet
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-tweet
-->
<polymer-element name="lp-tweet" attributes="tweet">

  <template>

    <link rel="stylesheet" href="lp-tweet.css" />

    <div class="tw-content row">
      <div class="user-info">
        <img class='twProfilePic' src="{{tweet.user.profile_image_url}}" >
        <span class='tw-username'>{{tweet.user.name}}</span>
        <span class='tw-handle'>&#64;{{tweet.user.screen_name}} </span>
      </div>
      <p class="tw-text">{{tweet.text}}</p>
    </div>

    <div class="meta-data row">
      <span class='tw-rt'>RETWEETS {{tweet.retweet_count}}</span><br>
      <span class='tw-fav'>FAVOURITES {{tweet.favorite_count}}</span>
    </div>


  </template>

  <!-- 

  
  "<div class='tweet'>" +
    "<div class='row tw-body'>" +
      "<div class='col-md-4 tw-profile'>" +
        "<img class='twProfilePic' src='"+ t.user.profile_image_url +"' >" +
        "<div class='user'>" +
          "<strong class='tw-username'>"+ t.user.name +"</strong>" +
          "<br>" +
          "<span class='tw-handle'>&#64;"+ t.user.screen_name +"</span>" +
        "</div>" +
        "<div>" +
          "<p class='tw-date'>" + dateStr + "</p>" +
          "<p>" +
            "<span class='tw-rt'>RETWEETS "+ t.retweet_count +"</span><br>" +
            "<span class='tw-fav'>FAVOURITES "+ t.favorite_count +"</span>" +
          "</p>" +
        "</div>" +
      "</div>" +
      "<div class='col-md-"+ (media ? "4" : "8") +" tw-text'>" +
        "<p>" + t.text + "</p>" +
      "</div>" +
      (media ? "<div class='col-md-4 tw-media'>" + media +"</div>" : "") +
    "</div>" +
  "</div>")


   -->

  <script>

    Polymer('lp-tweet', {
      /**
       * The `noevent` event is not actually fired from here,
       * we document it as an example of documenting events.
       *
       * @event noevent
       */

      /**
       * The `notitle` attribute does not yet have a purpose.
       *
       * @attribute notitle
       * @type string
       */
      notitle: '',

      /**
       * The `aProp` is a property that does something cool.
       *
       * @property aProp
       * @type bool
       */
      aProp: false,

      ready: function() {
      },

      /**
       * The `task` method does no work at this time.
       *
       * @method task
       * @return {Object} Returns undefined.
       * @param {String} dummy Serves no purpose today.
       */
      task: function(dummy) {
      }

    });

  </script>

</polymer-element>
