:host {
  display: block;
}

header {
	background: rgb(0, 183, 255);
}

.logo {
	height: 40px;
	padding: 5px;
}

.query {
	position: relative;
	bottom: 18px;
}

.paper-shadow {
	pointer-events: none;
}