:host {
  display: block;
	max-height: 100%;

	overflow: hidden;
}

core-header-panel core-toolbar {
	background: #fff;
}

.content, .content div {
	overflow: hidden;
}

.content .col {
	overflow: scroll;
	max-height: 100%;

	padding: 20px;
}

/*hide column scrollbar*/
.content .col::-webkit-scrollbar {
	display: none;
}

.tweet-col {
	max-width: 400px;
}

:host(.initial) {

}

:host(.main) {
	
}