:host {
  display: block;
}

paper-button, .loading {
	margin-top: 10px;
	margin-bottom: 20px;
}

paper-button {
	background: #fff;
}

#more {
  background: #00B7FF;
  color: #fff;
}

#more:hover {
	background: #2a56c6;
}

#more::shadow #ripple {
	color: #2a56c6;
}

.loading {
	width: 40px;
	height: 40px;
}