<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../lp-site-banner/lp-site-banner.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-page-about></lp-page-about>

@element lp-page-about
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-page-about
-->
<polymer-element name="lp-page-about" attributes="notitle">

  <template>

    <link rel="stylesheet" href="lp-page-about.css" />

    <lp-site-banner></lp-site-banner>

    

  </template>

  <script>

    Polymer('lp-page-about', {


    });

  </script>

</polymer-element>
