:host {
  display: block;
}

.card {
	min-height: 400px;
  /*max-width: 800px;*/

  margin: 0 auto;
  padding: 15px;

  background-color: #fff;
}

.col {
  margin: 40px;
}

.paper-shadow {
	z-index: -1;
	pointer-events: none;
}

lp-tw-login {
  margin-bottom: 30px;
}