<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../paper-shadow/paper-shadow.html">
<link rel="import" href="../lp-tw-login/lp-tw-login.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-login-card></lp-login-card>

@element lp-login-card
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-login-card
-->
<polymer-element name="lp-login-card" attributes="">

  <template>

    <link rel="stylesheet" href="lp-login-card.css" />

    <section class="card" horizontal layout>
      <div class="col" flex two >
        <h2>Be the first to breaking news on Twitter</h2>
        <p>Ferret helps you filter the noise on Twitter and get closer to what’s important, fast.</p>
        <p>It graphs the number of tweets on any given search term, and allows you to retrieve only those tweets sent in a time period you choose - such as just before a story breaks on Twitter.</p>
        <p>Ferret is currently in beta version. Any comments to <a href="http://twitter.com/ferretapp">&#64;FerretApp</a> would be great.</p>
      </div>
      <div class="col" flex >
        <h2>Get Started</h2>
        <lp-tw-login></lp-tw-login>
        <a href="/faq">Why do I need to sign in with Twitter?</a>
        <paper-shadow z="1"></paper-shadow>
      </div>
      <paper-shadow z="1"></paper-shadow>
    </section>

  </template>

  <script>

    Polymer('lp-login-card', {
    });

  </script>

</polymer-element>
