<link rel="import" href="../polymer-ui-toolbar/polymer-ui-toolbar.html">
<link rel="import" href="../core-animated-pages/core-animated-pages.html">

<link rel="import" href="../lp-page-landing/lp-page-landing.html">
<link rel="import" href="../lp-page-app/lp-page-app.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-app></lp-app>

@element lp-app
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-app
-->
<polymer-element name="lp-app" attributes="">

  <template>
    
    <link rel="stylesheet" href="lp-app.css" />

    <core-animated-pages selected="{{selected}}">
      <lp-page-landing
        name="landing"
        class="page"
        series="{{series}}"
        on-lp-search-initiated="{{searchInitiated}}">
      </lp-page-landing>
<!-- Implement single view for all of app that isn't landing page --> 
      <lp-page-app
        name="app"
        class="page"
        series="{{series}}">
      </lp-page-app>

      <!--  -->
<!-- 
      <lp-page-refine
        name="refine"
        series="{{series}}"
        tweets="{{tweets}}"
        on-lp-review-initiated="{{reviewInitiated}}">
      </lp-page-refine>
      <lp-page-review
        name="review"
        tweets="{{tweets}}">
      </lp-page-review>
-->
      <!--  -->
    </core-animated-pages>

  </template>

  <script>

    Polymer('lp-app', {

      /**
       * Time series:
       */
      'series' : null,

      /**
       * This is a function with a view to being able to
       * easily alter copy for different languages.
       */
      leadText: (function() {
        return 'Be first to breaking news on Twitter';
      })(),

      searchInitiated: function() {
        //change to lp-page-app
        this.selected = 1;
      },
      /**
       *
       */
      plottedChanged: function() {
        if(this.plotted) {
          this.$.toolbar;
          this.$.landingContent.remove();
        }
      }

    });

  </script>

</polymer-element>
