/*
*	Master Stylesheet
*/
/*
*	Base
*/
body {
  /** for static header **/
  padding-top: 70px;
  background: whitesmoke; }
  body svg {
    font: 10px sans-serif; }

body {
  font-family: 'Lato', 'Helvetica', sans-serif; }

h1, h2 {
  color: #00b7ff; }

.lead-copy {
  max-width: 400px;
  margin: 0 auto;
  font-size: 150%;
  text-align: center; }

/*
*	Layout
*/
.l-initial-search input {
  margin: 100px auto;
  max-width: 200px; }
.l-initial-search .links {
  max-width: 400px;
  margin: 200px auto;
  padding: 0;
  text-align: center;
  list-style: none; }
  .l-initial-search .links li {
    display: inline-block;
    padding: 0 10px;
    text-align: center; }

.retrieve .l-initial-search {
  display: none; }
.retrieve .l-refine-search {
  display: none; }
.retrieve .l-retrieve {
  display: block; }

/*
*	Modules
*/
/* graph styles */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.x.axis path {
  display: none; }

.line {
  fill: none;
  stroke: #5AA9E0;
  stroke-width: 1.5px; }

/**/
svg {
  font: 10px sans-serif; }

circle {
  -webkit-transition: fill-opacity 250ms linear; }

.selecting circle {
  fill-opacity: .2; }

.selecting circle.selected {
  stroke: #f00; }

.resize path {
  fill: #ccc;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px; }

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.brush .extent {
  fill: #5AA9E0;
  fill-opacity: .125;
  shape-rendering: crispEdges; }

.logo {
  max-height: 100%;
  max-width: 100%; }

.navbar-brand {
  transition: all 0.2s ease; }

/* tweets */
.tweet .twProfilePic {
  width: 48px;
  height: 48px;
  border-radius: 5px; }

.tweet .tweetPic {
  max-width: 150px;
  max-height: 150px; }

/*
*	State
*/
.hidden {
  display: none; }

.landing .navbar {
  margin-top: -50px; }
.landing .l-initial-search {
  display: block; }
.landing .l-refine-search {
  display: none; }
.landing .l-retrieve {
  display: none; }

.refine .l-initial-search {
  display: none; }
.refine .l-refine-search {
  display: block; }
.refine .l-retrieve {
  display: none; }

.retrieve .l-initial-search {
  display: none; }
.retrieve .l-refine-search {
  display: none; }
.retrieve .l-retrieve {
  display: block; }
