#wrapper.container
	//- INITIAL SEARCH
	div.l-initial-search
		div.lead-copy
			h1 oFilter
			p Stand fast goes here, describing what all the fuss is about
		form#initial-search(role='form', action="/")
			div.form-group
				input#hashtag.form-control(type='text', placeholder='Search...')
		ul.links
			li: a(href='#') About
			li: a(href='http://github.com/jeshuamaxey/low-pass') GitHub
	
	//- REFINE SEARCH
	div#refine-search.l-refine-search.row
		div.col-md-8
			h4 Refine
			//graph is drawn by d3
			#graph.graph
			#loadingGif
				h3.hidden Loading...
				img(src='img/loading.gif', class='hidden', alt='loading...')
		div.col-md-4
			h4 Filter
			ul.nav.nav-pills.nav-stacked#filterParameters
				li.active
					a All
				li
					a Photo
				li
					a Text
				li
					a Video
			hr
			div.form-group
				input#location.form-control(type='text', placeholder='Location')
			hr
			input#seeTweets.btn.btn-primary(type='button', value='See Tweets')

	//- RETIREVE TWEETS
	div.l-retrieve
		ul#tweets.media-list