#wrapper.container
	//- INITIAL SEARCH
	div.l-initial-search
		div.lead-copy
			h1 Low Pass
			p Be first to breaking news on Twitter
		form#initial-search(role='form', action="/")
			div.form-group
				input#hashtag.form-control(type='text', placeholder='Search...')
		ul.links
			li: a(href='#' data-toggle="modal" data-target="#about") About
			li: a(href='http://github.com/jeshuamaxey/low-pass') GitHub
	
	//- REFINE SEARCH
	div#refine-search.l-refine-search.row
		div.col-md-12
			//graph is drawn by d3
			#graph.graph
			input#seeTweets.btn.btn-primary(type='button', value='Retrieve Tweets')
			.panel.panel-default#loadingGif.loading
				.panel-body
					p Just checking in with our mates at Twitter
					img(src='img/loading.gif', alt='loading...')
		//- div.col-md-4
		//- 	hr
		//- 	div.form-group
		//- 		input#location.form-control(type='text', placeholder='Location')
		//- 	hr

	//- RETIREVE TWEETS
	div.l-retrieve
		div.row
			div.col-md-8
				ul#tweets.media-list
			div.col-md-4
