#about.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h4.modal-title About Low Pass
      .modal-body
        p
          b Low Pass
          | is a powerful tool for finding first-person, eye-witness accounts of major events through Twitter.
        p
          | It allows journalists to go back in time and find tweets immediately before the flood of noise and activity that accompanies heavily-reported news.
        p
          | After entering your search term,
          b Low Pass
          | returns a graphical representation of the density of tweets over time. The interactive interface lets you pull tweets from the beginnings of an event, before the noise of opinion and outrage takes over.
        p
          b Low Pass
          | was created by 
          a(href='http://twitter.com/gdcharles') Giovanni Charles
          | , 
          a(href='http://twitter.com/jeshuamaxey') Jeshua Maxey
          | , 
          a(href='http://twitter.com/philipnye') Philip Nye
          | , 
          a(href='http://twitter.com/ashmpace') Ashley Pace
          |  and 
          a(href='http://twitter.com/kadhimshubber') Kadhim Shubber
          |  at 
          a(href='http://buildthenews.wordpress.com/') The Times and The Sunday Times Build The News hack weekend
          | .
        p
          | All the code for
          b Low Pass
          | is open source, released under the MIT license. You may view it
          a(href='http://github.com/jeshuamaxey/low-pass', target='_blank')  here
          | .
      .modal-footer
        | 2014 ©
    //.modal-content 
  //.modal-dialog 
//.modal 