body {
	font-family: 'Lato', 'Helvetica', sans-serif;
}

body /deep/ {
	font-family: 'Lato', 'Helvetica', sans-serif;

	h1, h2, .brand {
		font-weight: bold;
		color: $light-blue;
	}

	.lead-copy {
		max-width: 400px;
		margin: 0 auto;

		font-size: 150%;
		text-align: center;
	}
	
	a {
		color: $light-blue;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}