<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-privacy-card></lp-privacy-card>

@element lp-privacy-card
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-privacy-card
-->
<polymer-element name="lp-privacy-card" noscript>

  <template>

    <link rel="stylesheet" href="lp-privacy-card.css" />

    <section class="card">
      <h2>Ferret &amp; Privacy</h2>
      
      <section class="question">
      		<p>Hi</p>
	      	<p>We store the absolute minimum of your information needed to allow the tool to function.</p>

					<p>We need you to sign-in with your Twitter account because of the limit Twitter imposes on the number of searches that can be done by any one person - for more details, see <a href="http://ferretapp.co.uk/faq">here</a>.</p>

					<p>But we don’t keep most of the information that’s passed to us - we discard everything except for the access token that Twitter generates for you.</p>
      </section>
      <section class="question">
      	<h3>Cookies</h3>
      	<p>Mmmm, cookies.</p>
      	<p>In order to work, Ferret needs to store some information in your browser. This is just so that we know you are signed in to Twitter.</p>
      </section>
      <section class="question">
      	<h3>Search terms</h3>
      	<p>We retain the search terms people have used on Ferret. This allows us to see how the tool is being used - meaning we have scope to improve the tool, if we get around to it in future. We won’t sell that information to anyone.</p>
      </section>
      <paper-shadow z="1"></paper-shadow>
    </section>

  </template>
</polymer-element>
