<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../paper-shadow/paper-shadow.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-tweet-info></lp-tweet-info>

@element lp-tweet-info
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-tweet-info
-->
<polymer-element name="lp-tweet-info" attributes="tweet">

  <template>

    <link rel="stylesheet" href="lp-tweet-info.css" />

    <div class="card" layout vertical>
      <!-- top panel -->
      <section class="top">
        <span><a href="{{tweet | tweetLink}}" target="_blank">Link to Tweet (alpha feature):</a></span>
        <textarea id="embedCode" cols="30" rows="1">
{{tweet | tweetLink}}
        </textarea>
        <br>
        <span>Embed Code (alpha feature): </span>
        <textarea id="embedCode" cols="30" rows="1">
<blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-partner="ferret">
<p>{{tweet.text}}</p>&mdash; {{tweet.username}} (&#64;{{tweet.username}}) <a href="{{tweet | tweetLink}}">{{tweet | formatTwitterDate}}</a>
</blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </textarea>
      </section>
      <!-- middle panel -->
      <section class="middle" layout centre-justified horizontal>
        <img class="profile-pic" src="{{tweet.user.profile_image_url}}" alt="Profile Picture">
        <div class="name">
          <p class="tw-username"><a href="{{tweet.user.url}}">{{tweet.user.name}}</a></p>
          <p class="tw-handle">&#64;{{tweet.user.screen_name}}</p>
        </div>
        <div class="about">
          <p>{{tweet.user.description}}</p>
          <p>{{tweet.user.location || ''}} &#149; <a href="{{tweet | formatTwUrl}}" style="{{tweet | formatTwUrl}}">link</a></p>
        </div>
      </section>
      <!-- bottom panel -->
      <section class="bottom" layout centre-justified horizontal>
        <div flex>
          <p><span class="num">{{tweet.user.statuses_count}}</span> tweets</p>
          <p><span class="num">{{tweet.user.friends_count}}</span> following</p>
        </div>
        <div flex>
          <p><span class="num">{{tweet.user.followers_count}}</span> followers</p>
          <p><span class="date">{{tweet.user.created_at | formatTwitterDate}}</span><br>(tweeting since)</p>
        </div>
        <div flex>
          <p>Verified: <img class="y-or-no y" src="{{tweet.user.verified | iconFilter}}" alt=""></p>
          <p>Geo tagged: <img class="y-or-no n" src="{{tweet.user.geo_enabled | iconFilter}}" alt=""></p>
        </div>
      </section>
      <paper-shadow z="1"></paper-shadow>
    </div>

  </template>

  <script>

    Polymer('lp-tweet-info', {
      tweetChanged: function() {
        //unhide this element
        this.hidden = false;
        console.log(this.tweet)
      },
      /**
       * Formats the date of a tweet for display
       * along with other meta data.
       * To be used as a filter, eg:
       * {{tweet.created_at | formatTwitterDate}}
       */
      formatTwitterDate: function(twitterDate) {
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var dateStamp = new Date(twitterDate);
        var dateStr = dateStamp.getDate() + " " + months[dateStamp.getMonth()] + " " + dateStamp.getFullYear();
        return dateStr;
      },
      /**
       * Displays the url of a twitter user if present
       * To be used as a filter, eg:
       * {{tweet.user.screen_name}}
       */
      formatTwUrl: function(tweet) {
        if(tweet && tweet.user) {
          return tweet.user.url || 'display:none;';
        }
      },
      /**
       * Generates the link to the specific tweet
       **/
       tweetLink: function(tweet) {
        if(tweet && tweet.id_str) {
          return "https://twitter.com/l/statuses/" + tweet.id_str;
        } else {
          return "/";
        }
       },
      /**
       * Produces icon src url
       * true -> tick, false -> cross
       * To be used as a filter, eg:
       * {{tweet.user.verified | iconFilter}}
       */
      iconFilter: function(arg) {
        var tick = 'components/lp-tweet-info/img/icon-tick.svg'
        var cross = 'components/lp-tweet-info/img/icon-cross.svg'
        return arg ? tick : cross;
      },
      embedCode: function() {
        //
      },
      /**
       * Formats the date of a tweet for display
       * along with other meta data.
       * To be used as a filter, eg:
       * {{tweet.created_at | formatTwitterDate}}
       **/
      formatTwitterDate: function(twitterDate) {
        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var dateStamp = new Date(twitterDate);
        var dateStr = dateStamp.getDate() + " " + months[dateStamp.getMonth()] + " " + dateStamp.getFullYear();
        return dateStr;
      }
    });

  </script>

</polymer-element>
