/* tweets */

.tweet {
	padding: 15px;
	margin-bottom: 20px;

	background: #fff;

	border-radius: 6px;

	.tw-profile {
		.twProfilePic {
			float: left;
		  width: 48px;
		  height: 48px;
		  border-radius: 5px;
		}
		.user {
			margin-left: 15px;
		}
	}
	//CONTENT
	.tw-text {
		p {
			max-width: 100%;
		}
		.tweetPic {
		  max-width: 100%;
		  max-height: 100%;
		  // max-width: 35%;

		  // float: right;
		}
	}
	.tw-media {
		img {
			max-width: 100%;
		  max-height: 100%;
		}
	}
}