:host {
  display: block;
}

.card {
	padding: 40px;
	
	background-color: #fff;
}

.question {
	margin: 40px 0;
}

.question p, .question em {
	padding-left: 15px;
}

.pull-left {
	float: left;
}

.s-times-logo {
	float: right;
	max-width: 300px;
	margin: 0 40px;
}

.paper-shadow {
	pointer-events: none;
}
