<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../paper-shadow/paper-shadow.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-about-card></lp-about-card>

@element lp-about-card
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-about-card
-->
<polymer-element name="lp-about-card" noscript>

  <template>

    <link rel="stylesheet" href="lp-about-card.css" />

    <section class="card">
      <h2>About Ferret</h2>
      
      <div class="question">    
        <h3>Be first to breaking news on Twitter.</h3>
        <p>Ferret helps you filter the noise on Twitter and get closer to what’s important, fast. </p>
        <p>Whether you’re looking for original tweets and pictures from a breaking news event, or monitoring a campaign or promotion, Ferret graphs the number of tweets on any given search term, and allows you to retrieve only those tweets sent in a time period you choose.</p>
        <p>Filtering options then help strip out more of what you don’t want, before sharing or embedding what you find.</p>
      </div>

      <div class="question">
        <em>Ferret is currently in beta version. Any comments to <a href="http://twitter.com/ferretapp">&#64;FerretApp</a> would be great.</em>
      </div>

      <div class="question">
        <p class="pull-left"><img class="s-times-logo" src="img/s-times-logo.svg" alt="The Times &amp; The Sunday Times">Ferret was the winning app at Build The News – <a href="http://timesdigitaldevelopment.tumblr.com/post/77906495813/build-the-news-event-update">a hackathon put on by The Times and The Sunday Times</a> in February 2014. It was originally called ‘Low Pass’ and was then developed further with the support of Nick Petrie and the rest of The Times/Sunday Times digital development team. More details of its development can be found in these <a href="http://jeshua.co/build-the-news/">two</a> <a href="http://timesdigitaldevelopment.tumblr.com/post/85809624900/our-week-working-on-low-pass-with-the-times-and-sunday">blogposts</a>.</p>
      </div>

      <div class="question">
        <h3>Who built Ferret?</h3>
        <p>Ferret was built by:
          <ul>
            <li><a href="http://twitter.com/gdcharles">Giovanni Charles</a></li>
            <li><a href="http://twitter.com/jeshuamaxey">Jeshua Maxey</a></li>
            <li><a href="http://twitter.com/philipnye">Philip Nye</a></li>
            <li><a href="http://twitter.com/ashmpace">Ashley Pace</a></li>
            <li><a href="http://twitter.com/kadhimshubber">Kadhim Shubber</a></li>
          </ul>
        </p>
      </div>

      <div class="question">
        <h3>What are the terms of use?</h3>
        <p>Ferret is open source, and available for reuse under the MIT licence. <a href="http://github.com/jeshuamaxey/ferret">All the code can be found on GitHub.</a></p>
      </div>

      <div class="question">
        <h3>Credits and further thanks</h3>
        <p>Ferret’s logo is (lightly) adapted from Dan Stack’s Ferret icon from the Noun Project.</p>
        <p>Thanks to Joanna Geary at Twitter, Josh Miller at Facebook, and Gavin Sheridan from Storyful for their time and advice.</p>
      </div>

      <paper-shadow z="1"></paper-shadow>
    </section>

  </template>

</polymer-element>
