<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../lp-site-banner/lp-site-banner.html">
<link rel="import" href="../lp-card-page/lp-card-page.html">
<link rel="import" href="../lp-tw-login/lp-tw-login.html">
<link rel="import" href="../lp-homepage-links/lp-homepage-links.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-page-login></lp-page-login>

@element lp-page-login
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-page-login
-->
<polymer-element name="lp-page-login" noscript>

  <template>

    <link rel="stylesheet" href="lp-page-login.css" />

    <lp-site-banner></lp-site-banner>
    
    <lp-card-page>
      <div horizontal layout>
        <div class="col" flex two >
          <h2>Be the first to breaking news on Twitter</h2>
          <p>Ferret helps you filter the noise on Twitter and get closer to what’s important, fast.</p>
          <p>It graphs the number of tweets on any given search term, and allows you to retrieve only those tweets sent in a time period you choose - such as just before a story breaks on Twitter.</p>
          <p>Ferret is a limited proof-of-concept tool. It only works in <a href="http://google.com/chrome">Google Chrome</a>. You can contact us with comments or feedback at <a href="mailto:info@ferretapp.co.uk?Subject=Ferret%20is%20so%20cool">info[at]ferretapp.co.uk</a> or on twitter <a href="http://twitter.com/ferretapp">&#64;FerretApp</a>.</p>
        </div>
        <div class="col" flex >
          <h2>Get Started</h2>
          <lp-tw-login></lp-tw-login>
          <a href="/faq">Why do I need to sign in with Twitter?</a>
        </div>
      </div>
    </lp-card-page>

    <lp-homepage-links></lp-homepage-links>

  </template>

</polymer-element>
