<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../lp-site-banner/lp-site-banner.html">
<link rel="import" href="../lp-login-card/lp-login-card.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-page-login></lp-page-login>

@element lp-page-login
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-page-login
-->
<polymer-element name="lp-page-login" attributes="notitle">

  <template>

    <link rel="stylesheet" href="lp-page-login.css" />

    <lp-site-banner></lp-site-banner>
  
    <div class="content">
      <lp-login-card></lp-login-card>
    </div>

  </template>

  <script>

    Polymer('lp-page-login', {
      /**
       * The `noevent` event is not actually fired from here,
       * we document it as an example of documenting events.
       *
       * @event noevent
       */

      /**
       * The `notitle` attribute does not yet have a purpose.
       *
       * @attribute notitle
       * @type string
       */
      notitle: '',

      /**
       * The `aProp` is a property that does something cool.
       *
       * @property aProp
       * @type bool
       */
      aProp: false,

      ready: function() {
      },

      /**
       * The `task` method does no work at this time.
       *
       * @method task
       * @return {Object} Returns undefined.
       * @param {String} dummy Serves no purpose today.
       */
      task: function(dummy) {
      }

    });

  </script>

</polymer-element>
