<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">

<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <lp-filter-tools></lp-filter-tools>

@element lp-filter-tools
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://jeshuamaxey.github.io/lp-filter-tools
-->
<polymer-element name="lp-filter-tools" attributes="filterBy sortBy">

  <template>

    <link rel="stylesheet" href="lp-filter-tools.css" />

    <b>Filter by:</b>

    <paper-radio-group selected="{{filterBy}}">
      <paper-radio-button name="media" label="Photo/Video"></paper-radio-button>
      <paper-radio-button name="links" label="Links"></paper-radio-button>
      <paper-radio-button name="rts" label="Exclude RTs"></paper-radio-button>
      <paper-radio-button name="text" label="Text"></paper-radio-button>
      <paper-radio-button name="location" label="Location Data"></paper-radio-button>
    </paper-radio-group>

  </template>

  <script>

    Polymer('lp-filter-tools', {

      

    });

  </script>

</polymer-element>
