:host {
  display: block;

  min-width: 600px;
	min-height: 300px;

  margin-top: 50px;

	background: #fff;
}

.graph-wrapper {
	width: 600px;
	height: 300px;
}

.graph-wrapper.small {
	width: 350px;
	height: 250px;
}

/**
 *  This shouldn't be required when paper-shadow updates to the current guthub version
 *  http://stackoverflow.com/questions/24552320/using-paper-shadow-makes-sibling-elements-unclickable
 */
.paper-shadow {
  pointer-events: none;
}

.lp-tools-wrapper {
	padding: 0 40px;
}